<h3><%= title %></h3>
<p>Fernando Ransanz</p>
<div><img src="/images/avatar_fer.jpg"  height="120" width="110"/><br>
<a href="https://es.linkedin.com/pub/fernando-ransanz/46/a3b/6ba">Linkedin</a></div>
