<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/>
<label for="tema" class="rem">Tema:</label>
<% if (quiz.tema==="tecnologia") { %>
<select name="quiz[tema]">
  <option value="otro" >Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia" selected>Tecnología</option>
</select>
<% } else if (quiz.tema==="ciencia") { %>
<select name="quiz[tema]">
  <option value="otro">Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia" selected>Ciencia</option>
  <option value="tecnologia">Tecnología</option>
</select>

<% } else if (quiz.tema==="ocio") { %>
<select name="quiz[tema]">
  <option value="otro">Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio" selected>Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
</select>

<% } else if (quiz.tema==="humanidades") { %>
<select name="quiz[tema]">
  <option value="otro">Otro</option>
  <option value="humanidades" selected>Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
</select>

<% } else { %>
<select name="quiz[tema]">
  <option value="otro" selected>Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
</select>
<% } %>
<p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
</p>
